:root {
  --line_border_fill: #3498db;
  --line_border_empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;

  .progress_container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;

    .progress {
      background-color: var(--line_border_fill);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: -1;
      height: 4px;
      width: 0%;
      transition: 0.4s ease;
    }

    .circle {
      background-color: #fff;
      color: #999;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid var(--line_border_empty);
      transition: 0.4s ease;

      &.active {
        border-color: var(--line_border_fill);
      }
    }
  }

  .progress_container::before {
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    height: 4px;
    width: 100%;
  }

  .btn {
    background-color: var(--line_border_fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;

    &:active {
      transform: scale(0.98);
    }

    &:focus {
      outline: 0;
    }
    &:disabled {
      background-color: var(--line_border_empty);
      cursor: not-allowed;
    }
  }
}
